<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" scan="true" scanPeriod="5 seconds">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- silence a few noisy loggers -->
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <!-- enable request logging -->
    <logger name="com.gbr.nyan.web.support.FullRequestLogFilter" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
