<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">A cat named Nyan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {{#rendering-home-page}}class="active"{{/rendering-home-page}}><a href="#">Home</a></li>
                <li {{#rendering-repo-list}}class="active"{{/rendering-repo-list}}><a href="repo-list">Content of the repositories</a></li>
            </ul>
        </div>
    </div>
</nav>
