{{> templates/partials/header }}

<body>
{{> templates/partials/nav-bar }}


<div class="container">
    <h1>Thank you for buying</h1>
    <p>TODO: show nyan cat embed only if active account is shown
    </p>

    <hr>

    <footer>
        <p>&copy; 2016 Gabriel's Pub, not a real company</p>
    </footer>
</div>

</body>
</html>
