{{> templates/partials/header }}

<body>
{{> templates/partials/nav-bar }}

<div class="jumbotron">
    <div class="container">
        <h1>A cat named Nyan can now be bought!</h1>
        <p>Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy
            Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan
            cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat
            app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app
            Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy
            Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app Buy Nyan cat app
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://gabrielspub.byappdirect.com" role="button">Buy the
            app &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Animated!</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
            <h2>With Music</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
            <h2>Very relaxing</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Gabriel's Pub, not a real company</p>
    </footer>
</div>

</body>
</html>
