{{> templates/partials/header }}

<body>
{{> templates/partials/nav-bar }}

<div class="container">
    {{#show-error}}
        <div id="error-row" class="row bigTopMargin">
            <div class="col-md-2"></div>
            <div class="col-md-8 alert alert-danger">
                Could not log you in. Make sure:
                <ul>
                    <li>Your credentials are valid at your open id provider</li>
                    <li>You accept to give access to your info (email &amp; name)</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    {{/show-error}}
    <div class="row bigTopMargin">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form name="appdirect-openid-signin" action="/login/openid" method="post" id="appdirect-openid-signin">
                <input type="hidden" name="openid_identifier" value="https://gabrielspub-test.byappdirect.com/openid/id"/>
                <label for="submit" class="btn btn-default btn-lg btn-block">
                    log in with <img src="img/appdirect-logo-100px.png"/>
                    <input id="submit" type="submit" class="hidden"/>
                </label>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
